{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true}],
    "no-underscore-dangle": [1, { "allowAfterThis": true }],
    "react/destructuring-assignment": [0],
    "react/jsx-filename-extension": [0]
  },
  "extends": ["airbnb"],
  "settings": {
    "react": {
        "version": "999.999.999"
    }
  }
}
